<title>회원 정보 수정</title>
<body class="content">
	<div class="center font">
		<br><br>
	<h2>회원 정보 수정</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <label for="user_email">이메일</label><br>
		<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="이메일 입력" aria-label="Username" aria-describedby="basic-addon1" autofocus="autofocus" autocomplete="email" type="email" value="<%= current_user.email %>" name="user[email]" id="user_email">
</div>
		</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
 <label for="user_password">비밀번호</label> <i>(변경하고 싶으시지 않은 경우에는 그대로 두세요.)</i><br>
    <% if @minimum_password_length %>
      <br />
      <em>(최소 <%= @minimum_password_length %> 글자)</em>
    <% end %>
		<div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="비밀번호 입력" aria-label="Username" aria-describedby="basic-addon1" autocomplete="new-password" type="password" name="user[password]" id="user_password">
</div>
		</div>

<div class="field">
    <label for="user_password_confirmation">비밀번호 확인</label><br>
		<div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="비밀번호 확인" aria-label="Username" aria-describedby="basic-addon1" autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
</div>
		</div>

<div class="field">
    <label for="user_current_password">현재 비밀번호</label><br>
<div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="현재 비밀번호" aria-label="Username" aria-describedby="basic-addon1" autocomplete="current-password" type="password" name="user[current_password]" id="user_current_password" required>
</div>
		</div>
<div class="actions">
    <input type="submit" name="commit" value="확인" data-disable-with="Update" class="btn btn-outline-success">
  </div>
<% end %>
<hr>
<h2>회원 탈퇴</h2>

<p>더이상 계정이 필요가 없어졌나요?</p>
<input data-confirm="Are you sure?" type="submit" value="회원 탈퇴하기" class="btn btn-outline-success">
<em>클릭 시 되돌릴 수 없습니다</em>
 <hr>
<input type="button" value="돌아가기" class="btn btn-outline-success" onclick="window.history.back();">
	</div>
	<br><br>
</body>
